<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">
    <h1>Create Event</h1>
    <nav th:replace="fragments :: navigation"></nav>

<!--    <p th:text="${errMsg}" style="color:red;"></p>-->

<form method="post" th:action="@{/events/save}">
    <div class="form-group">
         <label>Name
            <input type="text" th:field="${event.name}"  class="form-control">
         </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="text" th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
    <label> Location

        <input th:field="${event.location}" class="form-control">
    </label>
    <p class="error" th:errors="${event.location}" ></p>
    </div>

    <div class="form-group">
        <label> Present
            True<input type="checkbox" th:field="${event.isPresent}" th:value="true" class="form-control">
            False<input type="checkbox" th:field="${event.isPresent}" th:value="false" class="form-control">
        </label>
        <p class="error" th:errors="${event.isPresent}"></p>
    </div>

    <div class="form-group">

    <label> Number Of Attendees

        <input th:field="${event.numberOfAttendees}" class="form-control">
    </label>
    <p class="error" th:errors="${event.numberOfAttendees}" ></p>
    </div>

    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                </option>
            </select>
        </label>
    </div>

    <div class="form-group">
    <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>
</body>
</html>
