<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No events</p>
<table class="table table-stripped" >
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
<!--        <th>Address</th>-->
    </tr>
    </thead>
<!--    <th:block th:each="event : ${events}">-->
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
<!--            <td th:replace="fragments :: address"></td>-->
        </tr>
<!--    </th:block>-->
    </tbody>
</table>
</body>
</html>
